{% extends 'backend/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% for note in notes %}
    {% if user == note.author %}
    <div class="card mt-2">
        <div class="card-body d-flex flex-row justify-content-between">
            <div>
                <h5 class="card-title">{{note.title}}</h5>
                {% if note.description|length < 50 %}
                <p class="card-text">{{note.description}}</p>
                {% else %}
                    <p>{{ note.description|slice:":50" }}...</p>
                {% endif %}
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark" name="delete-note-id" value="{{note.id}}">Delete</button>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="open-note-id" value="{{note.id}}">Open</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{note.created_at}}
        </div>
    </div>
    {% endif %}
{% endfor %}
<div class="card mt-2">
    <a class="btn btn-dark btn-lg" href="/create-note" role="button">Create note</a>
</div>
{% endblock %}